asttokens
blinker
certifi
charset-normalizer
click
cloudevents==1.11.0
decorator==5.1.1
deprecation==2.1.0
executing==2.0.1
Flask==3.0.3
functions-framework==3.8.0
gunicorn==22.0.0
idna==3.7
ipython
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
numpy
opencv-python==4.10.0.84
packaging==24.1
pandas==2.2.2
parso==0.8.4
pexpect==4.9.0
pillow==10.4.0
pose_format==0.5.0
prompt_toolkit==3.0.47
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
scipy==1.14.0
simplemma==1.0.0
six==1.16.0
spoken-to-signed @ git+https://github.com/ZurichNLP/spoken-to-signed-translation.git@905367b7f7c6914ea3019106ae584f62a5fa37a1
stack-data==0.6.3
tqdm==4.66.4
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
uWSGI==2.0.26
watchdog==4.0.1
wcwidth==0.2.13
Werkzeug==3.0.3
