asttokens
blinker
certifi
charset-normalizer
click
cloudevents==1.11.0
decorator==5.1.1
deprecation==2.1.0
executing==2.0.1
Flask==3.0.3
functions-framework==3.8.0
gunicorn==22.0.0
idna==3.7
ipython
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
numpy
opencv-python==4.10.0.84
packaging==24.1
pandas
parso
pexpect
pillow
pose_format
prompt_toolkit
ptyprocess
pure-eval
Pygments
python-dateutil
pytz
requests
scipy
simplemma
six
spoken-to-signed @ git+https://github.com/ZurichNLP/spoken-to-signed-translation.git@905367b7f7c6914ea3019106ae584f62a5fa37a1
stack-data
tqdm
traitlets
typing_extensions
tzdata
urllib3
uWSGI
watchdog
wcwidth
Werkzeug
